
body {
	/* background-color:#D8F0FE; */
	background-color:#1F1F1F;
}

#mainName {
	font-family: 'Cormorant', serif;
	font-size: 80px;
	/* color: #16608A; */
	color: #FFFFFF;
	display: block;
	text-align: center;
	margin: auto;
}

/*div.container1 {
	position: fixed;
  	top: 50%;
  	left: 50%;
  	margin-top: -50px;
  	margin-left: -100px;
}
*/

div.container1 a {
   /* position: fixed;
  	top: 50%;
  	left: 50%;
  	margin-top: -50px;
  	margin-left: -245px;*/
  	position: fixed;
  	top: 50%;
  	left: 50%;
  	/* bring your own prefixes */
  	transform: translate(-50%, -50%);
}

.rotatedList {
	/*position: absolute;*/
	margin-left: 50px;
	margin-top: 500px;
	transform: rotate(270deg);
	transform-origin: left top 0;
    /* font-family: helvetica; */
	/* color: #16608A; */
	color: #FFFFFF; 
	font-family: 'Antic', sans-serif;
	font-size: 17px;
}

li {
	display: inline;
	padding: 20px;
}

li:hover {
	color: #6983ad;
}


.aboutMir {
	font-family: 'Archivo Black', sans-serif;
	/* color: #16608A; */
	color: #000000;  
	font-style: italic;
	font-size: 100px;
	opacity: .20;
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

#deve {
	margin-bottom: -225px;
	margin-left: -30px;
}

#loper {
	padding-left: 10px;
}


