
body {
	background-color: #545b51;
}

#mainName {
	font-family: 'Cormorant Garamond', serif;
	font-size: 80px;
	color: #c6d3c2;
	display: block;
	text-align: center;
	margin: auto;
}

/*div.container1 {
	position: fixed;
  	top: 50%;
  	left: 50%;
  	margin-top: -50px;
  	margin-left: -100px;
}
*/

div.container1 a {
   /* position: fixed;
  	top: 50%;
  	left: 50%;
  	margin-top: -50px;
  	margin-left: -245px;*/
  	position: fixed;
  	top: 50%;
  	left: 50%;
  	/* bring your own prefixes */
  	transform: translate(-50%, -50%);
}

.rotatedList {
	/*position: absolute;*/
	margin-left: 50px;
	transform: rotate(90deg);
	transform-origin: left top 0;
    font-family: helvetica;
}

